<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <sectionGroup name="businessObjects">
            <sectionGroup name="crystalReports">
                <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
            </sectionGroup>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
        <add key="CrystalImageCleaner-AutoStart" value="true" />
        <add key="CrystalImageCleaner-Sleep" value="60000" />
        <add key="CrystalImageCleaner-Age" value="120000" />
    </appSettings>
  <connectionStrings>
    <clear />
    <!--<add name="myconnection" connectionString="Data Source=(local);Initial Catalog=main22nov;Integrated Security=True;  Connection Timeout=30; Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true; "
          providerName="System.Data.SqlClient" />-->
    <add name="myconnection" connectionString="Data Source=(local);Initial Catalog=studentAttend;Integrated Security=True " providerName="System.Data.SqlClient" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1'" />
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1'" />
    <add name="MKUJabalpurConnectionString" connectionString="Data Source=(local);Initial Catalog=MKUJabalpur;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <machineKey validationKey="9FE45514AB3FA45FF58E3A56DB9C8EA81B0BBD4B605947D0859ED78063953F4D440393762A412416FCA02145C3B1A389B315B8F2002A5C61553214AFC4F949C8" decryptionKey="0CCFB11ADC8D35C7D497A3709D1D1E504681F8D4634C4D681A2A1EF8D4467218" validation="SHA1" decryption="AES">
    </machineKey>
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" executionTimeout="72000" maxRequestLength="4096" minFreeThreads="72" minLocalRequestFreeThreads="88" useFullyQualifiedRedirectUrl="false" />
    <globalization culture="en-US" uiCulture="en-US" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <httpCookies httpOnlyCookies="false" lockItem="true" />
    <!--<httpRuntime requestValidationMode="2.0" executionTimeout="2000" maxRequestLength="1024000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>-->
    <pages>
      <controls>
        <add tagPrefix="libmem" src="~/usercontrol/Libmembersearch.ascx" tagName="textbox" />
        <add tagPrefix="txtstuAl" src="~/usercontrol/stuSearchAl.ascx" tagName="textbox" />
        <add tagPrefix="txtstuAlumni" src="~/usercontrol/txtstuAlumini.ascx" tagName="textbox" />
        <add tagPrefix="txtstuEvent" src="~/usercontrol/stuAlumniEvent.ascx" tagName="textbox" />
        <add tagPrefix="txtbooksearch" src="~/usercontrol/LibSearchbook.ascx" tagName="textbox" />
        <add tagPrefix="txtsrchbook" src="~/usercontrol/Libsrchbook.ascx" tagName="textbox" />
        <add tagPrefix="libEmpMem" src="~/usercontrol/LibempMember.ascx" tagName="textbox" />
        <add tagPrefix="txtsearvendor" src="~/usercontrol/Searchvendor.ascx" tagName="textbox" />
        <add tagPrefix="datewithoutFormat" src="~/usercontrol/datewithoutFormat.ascx" tagName="textbox" />
        <add tagPrefix="datetxt" src="~/usercontrol/datectr.ascx" tagName="textbox" />
        <add tagPrefix="ddlcollege" src="~/usercontrol/collegeddlctr.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlcourse" src="~/usercontrol/courseddlctr.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlsem" src="~/usercontrol/semctr.ascx" tagName="DropDownList" />
        <add tagPrefix="txtstu" src="~/usercontrol/stusearchctr.ascx" tagName="textbox" />
        <add tagPrefix="txtgrv" src="~/usercontrol/SrchGrievenceNo.ascx" tagName="textbox" />
        <add tagPrefix="ddldepartment" src="~/usercontrol/departmentddlctr.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlDesignation" src="~/usercontrol/Designationddlctr.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlemployee" src="~/usercontrol/employeeddlctr.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlleave" src="~/usercontrol/leaveddlctr.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlclasses" src="~/usercontrol/classesddlctr.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlFilter" src="~/usercontrol/Filterctr.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlFiltercollege" src="~/usercontrol/filtercollegectr.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlsession" src="~/usercontrol/sessionddlctr.ascx" tagName="DropDownList" />
        <add tagPrefix="datecrtwithpostback" src="~/usercontrol/datecrtwithpostback.ascx" tagName="textbox" />
        <add tagPrefix="ddlbatch" src="~/usercontrol/Batchddlctr.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlseat" src="~/usercontrol/Seatddlctr.ascx" tagName="DropDownList" />
        <add tagPrefix="txtstudentsearch" src="~/usercontrol/StuSearchFee.ascx" tagName="textbox" />
        <add tagPrefix="ddlteacherall" src="~/usercontrol/Teacherallctr.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlsubjectteacher" src="~/usercontrol/SubjectTeacherwiseddlctr.ascx" tagName="DropDownList" />
        <add tagPrefix="txtstaffsearch" src="~/usercontrol/staffsearchctr.ascx" tagName="textbox" />
        <add tagPrefix="txtstaffsearchfill" src="~/usercontrol/staffsearchfill.ascx" tagName="textbox" />
        <add tagPrefix="ddlevenoddcrt" src="~/usercontrol/ddlevenodd.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlsemacademicyear" src="~/usercontrol/ddlsemacademicyear.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlsubjectteacher_exam" src="~/usercontrol/SubjectTeacherExamWise.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlFilterBatchCourse" src="~/usercontrol/FilterBatchCourse.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlFilterSemSession" src="~/usercontrol/collegefltersession.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlFilterSemSessionClasses" src="~/usercontrol/Collgefiltersessinosemclass.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlcollegeroles" src="~/usercontrol/collegesemrolewise.ascx" tagName="DropDownList" />
        <add tagPrefix="txtstudentsearchSession" src="~/usercontrol/StuSearchFeesessionwise.ascx" tagName="textbox" />
        <add tagPrefix="ddlcollegerolesbatchwise" src="~/usercontrol/collegesemrolewisebatchwise.ascx" tagName="DropDownList" />
        <add tagPrefix="ddlcollegeroleswithoutsec" src="~/usercontrol/collegesemrolewisewithsection.ascx" tagName="DropDownList" />
        <add tagPrefix="txtsearchprog" src="~/usercontrol/searchprogram.ascx" tagName="textbox" />
        <add tagPrefix="txtsearchsub" src="~/usercontrol/searchsubject.ascx" tagName="textbox" />
        <add tagPrefix="txtsearchsuball" src="~/usercontrol/searchallsubject.ascx" tagName="textbox" />
        <add tagPrefix="txtsearchstopaage" src="~/usercontrol/searchtransportstoppage.ascx" tagName="textbox" />
        <add tagPrefix="txtsearchroute" src="~/usercontrol/SearchRoute.ascx" tagName="textbox" />
        <add tagPrefix="txtsearchleads" src="~/usercontrol/Searchleads.ascx" tagName="textbox" />
        <add tagPrefix="test" src="~/usercontrol/test.ascx" tagName="DropDownList" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
   
        
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <system.diagnostics>
    <trace autoflush="true" />
    <sharedListeners>
      <add name="file" initializeData="c:\network.log" type="System.Diagnostics.TextWriterTraceListener" />
    </sharedListeners>
    <sources>
      <source name="System.Net" switchValue="Verbose">
        <listeners>
          <add name="file" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.net>
    <defaultProxy enabled="false">
    </defaultProxy>
  </system.net>
</configuration>